<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SP_Gen.Properties.Settings.ConnectionString" connectionString="Data Source=s11.winhost.com;Persist Security Info=True;User ID=DB_95999_application_user;Password=fishfunz"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>